{% if perfil=='super' %}{% extends 'SuperAdministrador.html' %} {% endif %}
{% if perfil !='super' %}
<!DOCTYPE html>
<html lang="es">
<html>
<head>
    <title>{{ titulo }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />
</head>
<body>
<h1>{{ titulo }}</h1>
<h5>Bienvenido {{ nombre }} <input type="button" onclick="location.href='/'" value="Cerrar Sesion"/></h5>
<input type="button" onclick="location.href='/index/{{ id_user }}'" value="Volver"/>
{% endif %}

{% block content %} 
<input type="button" onclick="location.href='/agregar_user/{{ id_user }}'" value="Agregar usuario"/>
<table id="tabla">
    <tbody>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CEDULA</th>
            <th>CORREO</th>
            <th>TELEFONO</th>
            <th>CIUDAD RESIDENCIA</th>
            <th></th>
            <th></th>
        </tr>
        {% for user in t_usuarios %}
            <tr>
                <td>{% print (user[0]) %}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td><input type="button" onclick="location.href='/editar_user/{{ id_user }}/{{ user[0] }}'" value="Modificar"/></td>
                <td><input type="button" onclick="location.href='/eliminar_user/{{ id_user }}/{{ user[0] }}'" value="Eliminar"/></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr />
    {% with mensajes = get_flashed_messages() %} {% if mensajes %}
    <ul>
        {% for mensaje in mensajes %}
        <li>{{ mensaje }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} 
{% endblock %}
</body>
</html>
