
h1{
    text-align: center;

}

form{
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 3px ;
    background-color: rgb(228, 228, 228);
}

.datos {
    margin-bottom: 12px;
    width: 89%;
    padding: 5px;

}
.boton{
    width: 89%;
    padding: 6px;
}


.boton{
    width: 100%;
    padding: 6px;
}

p{
    text-align: center;
}

input.img_contrasenia{
    position: relative;
    top: 5px;
    width: 20px;
}


.img_contrasenia{
    position: relative;
    top: 5px;
    width: 20px;
    cursor: pointer;

}

input.img_contrasenia{
    position: relative;
    top: 5px;
    width: 20px;
}




