<!DOCTYPE html>
<html lang="es">
<html>

<head>
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Proyecto</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />
</head>
<body>
    <h1>{{ titulo }}</h1>
    {% block contenido %}
    <form action="/agregar_user" method="post">
      {{form.nombre.label}} {{form.nombre}}
      <br/>
      {{form.cedula.label}} {{form.cedula}}
      <br/>
      {{form.correo.label}} {{form.correo}}
      <br/>
      {{form.telefono.label}} {{form.telefono}}
      <br/>
      {{form.ciudad.label}} {{form.ciudad}}
      <br/>
      {{form.enviar}} {{form.hidden_tag()}}
    </form>
    {% endblock %}

<input type="button" onclick="location.href='/index_user'" value="volver"/>
</body>
</html>