<!DOCTYPE html>
<html lang="es">
<html>

<head>
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Proyecto</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />
</head>
<body>
    <h1>{{ titulo }}</h1>
    {% block contenido %}
    <form action="/agregar_hab"  enctype="multipart/form-data" method="post">
      {{form.nombre.label}} {{form.nombre}}
      <br/>
      {{form.descripcion.label}} {{form.descripcion}}
      <br/>
      {{form.capacidad.label}} {{form.capacidad}}
      <br/>
      {{form.precio.label}} {{form.precio}}
      <br/>
      {{form.foto.label}} {{form.foto}}
      <br/>
      {{form.enviar}} {{form.hidden_tag()}}
    </form>
    {% endblock %}

<input type="button" onclick="location.href='/index_habitacion'" value="volver"/>
</body>
</html>