<!DOCTYPE html>
<html>
    <head>
        <title>Usuarios</title>
    </head>

    <body>
        <h1>Agregar Usuario</h1>
        <form action="" method="post">
            <label for="POST-name">Nombres:</label><br>
            <input id="POST-name" type="text" name="name"><br>
            <label for="POST-name">Cedula:</label><br>
            <input id="POST-name" type="text" name="name"><br>
            <label for="POST-name">Correo:</label><br>
            <input id="POST-name" type="text" name="name"><br>
            <label for="POST-name">Telefono:</label><br>
            <input id="POST-name" type="text" name="name"><br><br>
            <label for="POST-name">Ciudad de residencia:</label><br>
            <input id="POST-name" type="text" name="name"><br><br>

            <input type="submit" value="Guardar">
          </form><br><br>

          <input type="button" onclick="location.href='index_user.html';" value="volver" />
    </body>
</html>