<!DOCTYPE html>
<html lang="es">
<html>

<head>
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Proyecto</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />
</head>
<body>
    <h1>{{ titulo }}</h1>
    {% block contenido %}
    <form action="/editar_hab/{{datos[0][0]}}"  enctype="multipart/form-data" method="post">
      {{form.nombre.label}} {{form.nombre(value=datos[0][1])}}
      <br/>
      {{form.descripcion.label}} {{form.descripcion(value=datos[0][2])}}
      <br/>
      {{form.capacidad.label}} {{form.capacidad(value=datos[0][3])}}
      <br/>
      {{form.precio.label}} {{form.precio(value=datos[0][4])}}
      <br/>
      {{form.enviar}} {{form.hidden_tag()}}
    </form>
    {% endblock %}

<input type="button" onclick="location.href='/index_habitacion'" value="volver"/>
</body>
</html>