<!DOCTYPE html>
<html>
    <head>
        <title>Habitaciones</title>
    </head>

    <body>
        <h1>Modificar Habitacion</h1>
        <form action="" method="post">
            <label for="POST-name">Nombre:</label><br>
            <input id="POST-name" type="text" name="name" value="Habitacion A"><br>
            <label for="POST-name">Descripcion:</label><br>
            <input id="POST-name" type="text" name="name" value="Habitacion A"><br>
            <label for="POST-name">Capacidad:</label><br>
            <input id="POST-name" type="text" name="name" value="2 huespedes"><br>
            <label for="POST-name">Precio:</label><br>
            <input id="POST-name" type="text" name="name" value="$$$ la noche"><br><br>

            <input type="submit" value="Modificar">
          </form><br><br>

          <input type="button" onclick="location.href='index_habitacion.html';" value="volver" />
    </body>
</html>