<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
</head>

<body>
<h1>Usuarios</h1>
<input type="button" onclick="location.href='agregar_user.html';" value="Agregar usuario"/>
<input type="button" onclick="location.href='editar_user.html';" value="Modificar Usuario"/>
<input type="button" onclick="location.href='eliminar_user.html';" value="eliminar Usuario"/>
<br><br>
<table border="1">
    <tr>
        <td>NOMBRE</td>
        <td>CEDULA</td>
        <td>CORREO</td>
        <td>TELEFONO</td>
        <td>CIUDAD RESIDENCIA</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br><br>
<input type="button" onclick="location.href='index.html';" value="volver"/>
</body>
</html>
