<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/IniciarSesion.css" type="text/css">
    <title>Iniciar Sesion</title>
</head>
<body>
    <form action="">
        <h2>Iniciar Sesion</h1>
        <input class="datos" type="text" name="" id="" placeholder="Correo electrónico"> <br>
        <input class="datos"type="text" name="" id="" placeholder="Contraseña">
        <input class="img_contrasenia" type="image" src="../static/images/dummy.png">
        <br>

        <input class="boton"type="button" name="" id="" value="Iniciar Sesión">
        <p><a href="#">¿Olvidaste tu contraseña?</a> </p>
        <p><a href="#"> ¿Aun no tengo cuenta?</a></p>
        


    </form>
    
</body>
</html>