<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/css/registrarse.css" type="text/css">
</head>
<body>

<form action="/registrarse" method="post">

    {{form.nombre.label}} {{form.nombre}}
    <br/>
    {{form.cedula.label}} {{form.cedula}}
    <br/>
    {{form.correo.label}} {{form.correo}}
    <br/>
    {{form.telefono.label}} {{form.telefono}}
    <br/>
    {{form.ciudad.label}} {{form.ciudad}}
    <br/>
    {{form.enviar}} {{form.hidden_tag()}}


    <p class="terminos">Estoy de acuerdo con <a href="#"> Terminos y condiciones</a></p>
    <input class="botones" type="submit" name="" value="Registrarse">
    <p class="terminos"><a href="#">¿Ya tengo cuenta?</a></p>

</form>

</body>
</html>