<!DOCTYPE html>
<html lang="es">
<html>

<head>
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Proyecto</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />
</head>
<body>
    <h1>{{ titulo }} {{id_user}} - {{id_hab}}</h1>
    {% block contenido %}
    <form action="/realizar_reserva/{{id_user}}/{{id_hab}}"  enctype="multipart/form-data" method="post">
      {{form.fecha_entrada.label}} {{form.fecha_entrada}}
      <br/>
      {{form.fecha_salida.label}} {{form.fecha_salida}}
      <br/>
      {{form.comentarios.label}} {{form.comentarios}}
      <br/>
      {{form.enviar}} {{form.hidden_tag()}}
    </form>
    {% endblock %}

<input type="button" onclick="location.href='/index_habitacion'" value="volver"/>
</body>
</html>