<!DOCTYPE html>
<html lang="en">

<head>
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Proyecto</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css')}}" />

</head>

<body>
    <h1>Hotel JW Marriott Marquis Dubai</h1>

    <a href="/inicio">Inicio</a>
    <input type="button" value="Ver habitaciones" onclick="location.href='/habitaciones/{{id_user}}'"/>
    <input type="button" value="Ver galeria" onclick="location.href='/habitaciones/{{id_user}}'"/>
    <input type="button" value="Ver reservaciones" onclick="location.href='/reservacion/{{id_user}}'"/>
    <hr>

    {% block content %}

    {% endblock %}

   


<!-- 
<form action="" name="formularioGestionHabitaciones" style="display: none">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Lista de habitaciones disponibles</h2>
    <script>
        function mostrarHabitaciones() {
            for (let i = 0; i < 6; i += 2) {
                document.writeln("<img src='../static/images/img.png' style='width: 250px'/>" + "<input type='radio'>");
                document.writeln("<img src='../static/images/img.png' style='width: 250px'/>" + "<input type='radio'>" + "<br/>");
            }
        }

        function mostrarHoteles() {
            for (let i = 0; i < 6; i += 2) {
                document.writeln("<img src='../static/images/img.png' style='width: 250px'/>");
                document.writeln("<img src='../static/images/img.png' style='width: 250px'/>" + "<br/>");
            }
        }

        mostrarHabitaciones();
    </script>
    <label>Fecha de llegada:</label>
    <input type="date">
    <br/>
    <label>Fecha de salida:</label>
    <input type="date">
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="button" value="Realizar reservacion"/>

</form>
<form action="" name="panelGaleria" style="display: none">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Galeria de fotos</h2>
    <input value="Panel de galeria xd"/>

</form>

<form action="" name="panelHoteles" style="display: none">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Hoteles</h2>
    <script>
        mostrarHoteles();
    </script>

</form>
<form action="" name="panelReservaciones" style="display: none">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Lista de reservaciones</h2>
    <label>Seleccione la reservacion a comentar: </label>
    <select>
        <option>Reservacion 1</option>
        <option>Reservacion 2</option>
        <option>Reservacion 3</option>
        <option>Reservacion 4</option>
        <option>Reservacion 5</option>
        <option>Reservacion 6</option>
    </select>
    <br/>
    <br/>
    <label>Ingrese un numero del 1 a 5: </label>
    <input class="datos" type="number" max="5" min="1">
    <br/>
    <br/>
    <label>Comentario : </label>
    <input class="datos" type="text" name="" placeholder="Ingrese su comentario aqui">
    <br/>
    <input type="button" value="Confirmar" onclick="confirmarComentario()"> -->

<!-- </form> -->
</body>
</html>